<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your Design</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Are you passionate about creating stunning jewelry pieces that dazzle and inspire? Share your unique designs with a global community of web developers and enthusiasts by showcasing them on our platform!</p>
    </div>
  </div>


  <div class="row justify-content-center">
    <% if(infoSubmitObj != '') { %>
        <div class="col-8 alert alert-success" role="alert">
          <%= infoSubmitObj %>
        </div>
      <% } %>
      <% if(infoErrorsObj != '') { %>
        <div class="col-8 alert alert-denger" role="alert">
          <%= infoErrorsObj[0].message %>
        </div>
      <% } %>
    
      
    <div class="col-8">
  
      <form action="/submit-design" enctype="multipart/form-data" method="POST">
      
        <div class="row g-3">
  
          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Design Name</label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
          
          <div class="col-12">
            <label for="weight" class="form-label">Weight</label>
            <textarea name="weight" id="weight" class="form-control" cols="30" rows="4"></textarea>
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">material</label><br>
            <small>Example: Gold</small>
            <div class="materialList">
              <div class="materialDiv mb-1">
                <input type="text" name="materials" class="form-control">
              </div>
            </div>
          </div>
  
          <div class="col-12">
            <button type="button" class="btn btn-outline-primary" id="addmaterialsBtn">+ material</button>
          </div>
  
          <div class="col-12">
            <label for="category">Select Category</label>
            <select class="form-select form-control" name="category" aria-label="Category">
              <option selected>Select Category</option>
              <option value="Silver Bracelates">Silver Bracelates</option>
              <option value="Nacklace">Nacklace</option>
              <option value="Mangalsutra">Mangalsutra</option>
              <option value="Couple Rings">Couple Rings</option>
              <option value="SilverPayal">SilverPayal</option>
            </select>
          </div>
  
          <div class="col-12">
            <label for="image">Product Image</label>
            <input type="file" class="form-control" name="image" accept="image/*">
          </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit Design</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>